.single-cell{

    height: 16px;
    width: 16px;
    margin:0px 0px 0px 0px;
    display: inline-block;
    cursor: "pointer";
    border:1px black solid;

}

.cell-row{

    height: 16px;

}

.no-view {

    display: none;

}

.submit-button {

    width: 100%;
    font-family: 'Righteous', cursive;
    color: #AC021F;

}

.title {

    font-family: 'Monoton', cursive;
    font-size: 400%;
    color: #AC021F;

}

h3 {

    font-family: 'Righteous', cursive;
    margin-left: 68px;
    margin-bottom: 0px;

}

body {

    background-color: #FFFBE8;

}

div {
  
  margin: 0px 0px 0px 0px;
  
}

#gameboard {
  
  width: 1700px;
  
}
